.sixthSection {
    height: 350px;
    background-color: #fff;

    background-image: url('../../pictures//sixthSectionBG.svg');
    background-position: bottom;
    background-repeat: no-repeat;

    padding: 0 90px;
}

.titleContainer {
    position: relative;

    display: flex;
    justify-content: center;

    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.titleContainer::before {
    position: absolute;
    top: 100%;
    left: 43%;

    content: '';

    width: 90px;
    height: 5px;

    flex-shrink: 0;

    border-radius: 2px;
    background: #C9C9C9;



}

.titleContainer::after {
    position: absolute;
    top: 100%;
    left: 50%;

    content: '';

    width: 90px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #C9C9C9;
}

.companyItemsContainer {
    padding-top: 88px;
}